<a href="https://colab.research.google.com/github/kartikeygupta547/cognitive-computing/blob/main/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80].

i. WAP to add 200 and 300 to L.

ii. WAP to remove 10 and 30 from L.

iii. WAP to sort L in ascending order.

iv. WAP to sort L in descending order.

In [1]:
L = [10, 20, 30, 40, 50, 60, 70, 80]
L.append(200)
L.append(300)
L.remove(10)
L.remove(30)
L.sort(reverse=True)
print("Descending order:", L)

Descending order: [300, 200, 80, 70, 60, 50, 40, 20]

2. Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and
perform the following operations using tuple functions:

i. Identify the highest score and its index in the tuple.

ii. Find the lowest score and count how many times it appears.


iii. Reverse the tuple and return it as a list.
iv. Check if a specific score ‘76’ (input by the user) is present in the tuple and

print its first occurrence index, or a message saying it’s not present.

In [2]:
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)


max_score = max(scores)
print("Highest score:", max_score)
print("Index of highest score:", scores.index(max_score))

min_score = min(scores)
print("Lowest score:", min_score)
print("Count of lowest score:", scores.count(min_score))

reversed_list = list(scores[::-1])
print("Reversed tuple as list:", reversed_list)

user_score = 76
if user_score in scores:
    print(f"{user_score} found at index:", scores.index(user_score))
else:
    print(f"{user_score} is not present in the scores.")

Highest score: 92
Index of highest score: 5
Lowest score: 45
Count of lowest score: 2
Reversed tuple as list: [45, 58, 92, 89, 45.4, 76, 89.5, 45]
76 found at index: 2

3. WAP to create a list of 100 random numbers between 100 and 900. Count and print
the:

i. All odd numbers

ii. All even numbers

iii. All prime numbers

In [3]:
import random


random_numbers = [random.randint(100, 900) for _ in range(100)]


odd_numbers = [n for n in random_numbers if n % 2 != 0]
even_numbers = [n for n in random_numbers if n % 2 == 0]

def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5)+1):
        if n % i == 0:
            return False
    return True

prime_numbers = [n for n in random_numbers if is_prime(n)]

print("Odd numbers:", odd_numbers)
print("Even numbers:", even_numbers)
print("Prime numbers:", prime_numbers)

Odd numbers: [141, 327, 803, 149, 157, 359, 281, 291, 389, 807, 107, 677, 721, 613, 161, 335, 165, 235, 855, 761, 191, 763, 651, 157, 841, 691, 753, 719, 599, 751, 553, 607, 637, 545, 669, 739, 629, 493, 603, 363, 269, 803, 181, 643, 629, 517, 295, 367, 179]
Even numbers: [402, 134, 600, 438, 484, 404, 484, 724, 480, 882, 756, 816, 864, 244, 592, 134, 154, 806, 126, 784, 174, 136, 608, 188, 738, 138, 274, 676, 762, 824, 442, 648, 166, 608, 602, 668, 156, 630, 198, 652, 304, 206, 110, 432, 250, 370, 200, 382, 182, 170, 430]
Prime numbers: [149, 157, 359, 281, 389, 107, 677, 613, 761, 191, 157, 691, 719, 599, 751, 607, 739, 269, 181, 643, 367, 179]

4. Consider the following two sets, A and B, represenƟng scores of two teams in mulƟple
matches. A = {34, 56, 78, 90} and B = {78, 45, 90, 23}
WAP to perform the following operaƟons using set funcƟons:

i. Find the unique scores achieved by both teams (union of sets).

ii. IdenƟfy the scores that are common to both teams (intersecƟon of sets).

iii. Find the scores that are exclusive to each team (symmetric difference).

iv. Check if the scores of team A are a subset of team B, and if team B's scores are
a superset of team A.

v. Remove a specific score X (input by the user) from set A if it exists. If not, print
a message saying it is not present.

In [4]:
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}


print("Union:", A | B)


print("Intersection:", A & B)

print("Symmetric Difference:", A ^ B)

print("Is A subset of B?", A.issubset(B))
print("Is B superset of A?", B.issuperset(A))

X = int(input("Enter a score to remove from A: "))
if X in A:
    A.remove(X)
    print(f"{X} removed. New set A:", A)
else:
    print(f"{X} is not present in set A.")

Union: {34, 45, 78, 23, 56, 90}
Intersection: {90, 78}
Symmetric Difference: {34, 45, 23, 56}
Is A subset of B? False
Is B superset of A? False
Enter a score to remove from A: 78
78 removed. New set A: {56, 34, 90}

5. Write a program to rename a key city to a locaƟon in the following dicƟonary.

In [5]:
# Original dictionary
city_dict = {'city': 'New York', 'country': 'USA'}

# Rename key 'city' to 'location'
city_dict['location'] = city_dict.pop('city')
print("Updated dictionary:", city_dict)

Updated dictionary: {'country': 'USA', 'location': 'New York'}