In [ ]:
# ASSIGNMENT 3

In [10]:
from google.colab import files


uploaded = files.upload()

Saving employees.csv to employees.csv

In [4]:
# QUESTION 1
import pandas as pd
df = pd.read_csv('table.csv')
print("Contents of the table is: ")
print()
print(df.to_string())

Contents of the table is:

   Tid Refund Marital Status  Taxable Income Cheat
0    1    Yes         Single          125000    No
1    2     No        Married          100000    No
2    3     No         Single           70000    No
3    4    Yes        Married          120000    No
4    5     No       Divorced           95000   Yes
5    6     No        Married           60000    No
6    7    Yes       Divorced          220000    No
7    8     No         Single           85000   Yes
8    9     No        Married           75000    No
9   10     No         Single           90000   Yes

In [5]:
# QUESTION 2
import pandas as pd
df = pd.read_csv("table.csv")
print()

print("Printing the 0th row: ")
print(df.loc[0])
print()

print("Printing the 4th row: ")
print(df.loc[4])
print()

print("Printing the 7th row: ")
print(df.loc[7])
print()

print("Printing the 8th row: ")
print(df.loc[8])
print()

Printing the 0th row:
Tid                    1
Refund               Yes
Marital Status    Single
Taxable Income    125000
Cheat                 No
Name: 0, dtype: object

Printing the 4th row:
Tid                      5
Refund                  No
Marital Status    Divorced
Taxable Income       95000
Cheat                  Yes
Name: 4, dtype: object

Printing the 7th row:
Tid                    8
Refund                No
Marital Status    Single
Taxable Income     85000
Cheat                Yes
Name: 7, dtype: object

Printing the 8th row:
Tid                     9
Refund                 No
Marital Status    Married
Taxable Income      75000
Cheat                  No
Name: 8, dtype: object

In [6]:
# QUESTION 3
import pandas as pd
df = pd.read_csv("table.csv")
print()

print("Printing the row 3 to 6: ")
print(df.iloc[3:7])
print()

print("Printing the row 4 to 8 and coloumn 2 to 5: ")
print(df.iloc[4:9,2:5])
print()

print("Printing the all rows and coloumn 1 to 3: ")
print(df.iloc[:,1:4])

Printing the row 3 to 6:
   Tid Refund Marital Status  Taxable Income Cheat
3    4    Yes        Married          120000    No
4    5     No       Divorced           95000   Yes
5    6     No        Married           60000    No
6    7    Yes       Divorced          220000    No

Printing the row 4 to 8 and coloumn 2 to 5:
  Marital Status  Taxable Income Cheat
4       Divorced           95000   Yes
5        Married           60000    No
6       Divorced          220000    No
7         Single           85000   Yes
8        Married           75000    No

Printing the all rows and coloumn 1 to 3:
  Refund Marital Status  Taxable Income
0    Yes         Single          125000
1     No        Married          100000
2     No         Single           70000
3    Yes        Married          120000
4     No       Divorced           95000
5     No        Married           60000
6    Yes       Divorced          220000
7     No         Single           85000
8     No        Married           75000
9     No         Single           90000

In [7]:
# QUESTION 4
import pandas as pd
df = pd.read_csv("table.csv")
print()

print("Printing the first 5 rows: ")
print()
print(df.head())

Printing the first 5 rows:

   Tid Refund Marital Status  Taxable Income Cheat
0    1    Yes         Single          125000    No
1    2     No        Married          100000    No
2    3     No         Single           70000    No
3    4    Yes        Married          120000    No
4    5     No       Divorced           95000   Yes

In [8]:
# QUESTION 5
import pandas as pd
df = pd.read_csv("table.csv")
print()

print("Deleting the 4th row: ")
print()
print(df.drop(4,axis=0,inplace=True))
print(df.to_string())

print()
print("Deleting the 3rd coloumn: ")
print()
print(df.drop(df.columns[3],axis=1,inplace=True))
print(df.to_string())

Deleting the 4th row:

None
   Tid Refund Marital Status  Taxable Income Cheat
0    1    Yes         Single          125000    No
1    2     No        Married          100000    No
2    3     No         Single           70000    No
3    4    Yes        Married          120000    No
5    6     No        Married           60000    No
6    7    Yes       Divorced          220000    No
7    8     No         Single           85000   Yes
8    9     No        Married           75000    No
9   10     No         Single           90000   Yes

Deleting the 3rd coloumn:

None
   Tid Refund Marital Status Cheat
0    1    Yes         Single    No
1    2     No        Married    No
2    3     No         Single    No
3    4    Yes        Married    No
5    6     No        Married    No
6    7    Yes       Divorced    No
7    8     No         Single   Yes
8    9     No        Married    No
9   10     No         Single   Yes

In [11]:
# QUESTION 6
import pandas as pd
df=pd.read_csv("employees.csv")
print("Data in the csv file is: ")
print()
print(df.to_string())

print()
rows,columns=df.shape
print("Number of rows are: ",rows)
print("Number of columns are: ",columns)

Data in the csv file is:

   Employee_ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  Gender  Bonus  Rating
0          101    Alice         HR   29   50000                    4   2020-03-15  Female   5000     4.5
1          102      Bob         IT   34   70000                    8   2017-07-19    Male   7000     4.0
2          103  Charlie         IT   41   65000                   10   2013-06-01    Male   6000     3.8
3          104    Diana  Marketing   28   55000                    3   2021-02-10  Female   4500     4.7
4          105   Edward      Sales   38   60000                   12   2010-11-25    Male   5000     3.5

Number of rows are:  5
Number of columns are:  10

In [12]:
# 6(b)
import pandas as pd
df=pd.read_csv("employees.csv")

print("Summary of the data frame is: ")
print()
print(df.describe())

Summary of the data frame is:

       Employee_ID        Age       Salary  Years_of_Experience   Bonus  \
count     5.000000   5.000000      5.00000             5.000000     5.0
mean    103.000000  34.000000  60000.00000             7.400000  5500.0
std       1.581139   5.612486   7905.69415             3.847077  1000.0
min     101.000000  28.000000  50000.00000             3.000000  4500.0
25%     102.000000  29.000000  55000.00000             4.000000  5000.0
50%     103.000000  34.000000  60000.00000             8.000000  5000.0
75%     104.000000  38.000000  65000.00000            10.000000  6000.0
max     105.000000  41.000000  70000.00000            12.000000  7000.0

         Rating
count  5.000000
mean   4.100000
std    0.494975
min    3.500000
25%    3.800000
50%    4.000000
75%    4.500000
max    4.700000

In [13]:
# 6(c)
import pandas as pd
df=pd.read_csv("employees.csv")

print("Descriptive statistics is: ")
print()
print(df.describe())

Descriptive statistics is:

       Employee_ID        Age       Salary  Years_of_Experience   Bonus  \
count     5.000000   5.000000      5.00000             5.000000     5.0
mean    103.000000  34.000000  60000.00000             7.400000  5500.0
std       1.581139   5.612486   7905.69415             3.847077  1000.0
min     101.000000  28.000000  50000.00000             3.000000  4500.0
25%     102.000000  29.000000  55000.00000             4.000000  5000.0
50%     103.000000  34.000000  60000.00000             8.000000  5000.0
75%     104.000000  38.000000  65000.00000            10.000000  6000.0
max     105.000000  41.000000  70000.00000            12.000000  7000.0

         Rating
count  5.000000
mean   4.100000
std    0.494975
min    3.500000
25%    3.800000
50%    4.000000
75%    4.500000
max    4.700000

In [14]:
# 6(d)
import pandas as pd
df=pd.read_csv("employees.csv")

print("Displaying the first 5 rows")
print()
print(df.head(5))
print()

print("Displaying the last 3 rows")
print()
print(df.tail(3))

Displaying the first 5 rows

   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
0          101    Alice         HR   29   50000                    4
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating
0   2020-03-15  Female   5000     4.5
1   2017-07-19    Male   7000     4.0
2   2013-06-01    Male   6000     3.8
3   2021-02-10  Female   4500     4.7
4   2010-11-25    Male   5000     3.5

Displaying the last 3 rows

   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating
2   2013-06-01    Male   6000     3.8
3   2021-02-10  Female   4500     4.7
4   2010-11-25    Male   5000     3.5

In [15]:
# 6(e)
import pandas as pd
df=pd.read_csv("employees.csv")

average_salary = df["Salary"].mean()
total_bonus = df["Bonus"].sum()
youngest_age = df["Age"].min()
highest_rating = df["Rating"].max()
print("The average salary of employees: ",average_salary)
print("The total bonus paid to all employees: ", total_bonus)
print("The youngest employee's age: ",youngest_age)
print("The highest performance rating: " ,highest_rating)

The average salary of employees:  60000.0
The total bonus paid to all employees:  27500
The youngest employee's age:  28
The highest performance rating:  4.7

In [16]:
# 6(f)
import pandas as pd
df=pd.read_csv("employees.csv")

sorted_df = df.sort_values(by="Salary", ascending=False)
print("the sorted data frame is : ")
print(sorted_df)

the sorted data frame is :
   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
4          105   Edward      Sales   38   60000                   12
3          104    Diana  Marketing   28   55000                    3
0          101    Alice         HR   29   50000                    4

  Joining_Date  Gender  Bonus  Rating
1   2017-07-19    Male   7000     4.0
2   2013-06-01    Male   6000     3.8
4   2010-11-25    Male   5000     3.5
3   2021-02-10  Female   4500     4.7
0   2020-03-15  Female   5000     4.5

In [17]:
# 6(g)
def performance(rating):
    if rating >= 4.5:
        return "Excellent"
    elif 4.0 <= rating < 4.5:
        return "Good"
    else:
        return "Average"

import pandas as pd
df=pd.read_csv("employees.csv")

df["Performance"] = df["Rating"].apply(performance)

print("printing the updated data frame")
print(df)

printing the updated data frame
   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
0          101    Alice         HR   29   50000                    4
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating Performance
0   2020-03-15  Female   5000     4.5   Excellent
1   2017-07-19    Male   7000     4.0        Good
2   2013-06-01    Male   6000     3.8     Average
3   2021-02-10  Female   4500     4.7   Excellent
4   2010-11-25    Male   5000     3.5     Average

In [18]:
# 6(h)
import pandas as pd
df=pd.read_csv("employees.csv")
print("the data in the csv file is :")

miss = df.isnull()

print("Missing Values are:")
print(miss)

the data in the csv file is :
Missing Values are:
   Employee_ID   Name  Department    Age  Salary  Years_of_Experience  \
0        False  False       False  False   False                False
1        False  False       False  False   False                False
2        False  False       False  False   False                False
3        False  False       False  False   False                False
4        False  False       False  False   False                False

   Joining_Date  Gender  Bonus  Rating
0         False   False  False   False
1         False   False  False   False
2         False   False  False   False
3         False   False  False   False
4         False   False  False   False

In [19]:
# 6(i)
import pandas as pd
df=pd.read_csv("employees.csv")

df = df.rename(columns={"Employee ID": "ID"})
print("The new data frame is ")
print(df)

The new data frame is
   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
0          101    Alice         HR   29   50000                    4
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating
0   2020-03-15  Female   5000     4.5
1   2017-07-19    Male   7000     4.0
2   2013-06-01    Male   6000     3.8
3   2021-02-10  Female   4500     4.7
4   2010-11-25    Male   5000     3.5

In [22]:
# 6(j)
import pandas as pd
df=pd.read_csv("employees.csv")

ee = df[df["Years_of_Experience"] > 5]
it_e = df[df["Department"] == "IT"]
print("employees more than 5 years of experience are:")
print()
print(ee)
print("employees of IT department:")
print()
print(it_e)

employees more than 5 years of experience are:

   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
4          105   Edward      Sales   38   60000                   12

  Joining_Date Gender  Bonus  Rating
1   2017-07-19   Male   7000     4.0
2   2013-06-01   Male   6000     3.8
4   2010-11-25   Male   5000     3.5
employees of IT department:

   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10

  Joining_Date Gender  Bonus  Rating
1   2017-07-19   Male   7000     4.0
2   2013-06-01   Male   6000     3.8

In [23]:
# 6(k)
import pandas as pd
df=pd.read_csv("employees.csv")

df["Tax"] = df["Salary"] * 0.10
print("Now the data in the csv file is :")
print()
print(df.to_string())
print()

Now the data in the csv file is :

   Employee_ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  Gender  Bonus  Rating     Tax
0          101    Alice         HR   29   50000                    4   2020-03-15  Female   5000     4.5  5000.0
1          102      Bob         IT   34   70000                    8   2017-07-19    Male   7000     4.0  7000.0
2          103  Charlie         IT   41   65000                   10   2013-06-01    Male   6000     3.8  6500.0
3          104    Diana  Marketing   28   55000                    3   2021-02-10  Female   4500     4.7  5500.0
4          105   Edward      Sales   38   60000                   12   2010-11-25    Male   5000     3.5  6000.0

In [24]:
# 6(l)
import pandas as pd
df=pd.read_csv("employees.csv")

modified_csv_path = "modified_employees.csv"
df.to_csv(modified_csv_path, index=False)

print(f"Modified DataFrame saved to {modified_csv_path}")

Modified DataFrame saved to modified_employees.csv