<a href="https://colab.research.google.com/github/kartikeygupta547/cognitive-computing/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assignment 1

1.1-:WAP to print your name three time

In [ ]:
for i in range(1,4):
  print("Kartikey")

Kartikey
Kartikey
Kartikey

Assignment 2

2.1-:WAP to add three numbers and print the result

In [ ]:
num1=int(input("Enter first number:"))
num2=int(input("Enter second number:"))
num3=int(input("Enter third number:"))
sum=num1+num2+num3
print(sum)

Enter first number:30
Enter second number:40
Enter third number:50
120

EX-2.2 WAP to concatinate three strings and print the result.

In [ ]:
string1=input("Enter first string:")
string2=input("Enter second string:")
string3=input("Enter third string:")
final=string1+" "+string2+" "+string3
print(final)

Enter first string:UCS
Enter second string:420
Enter third string:Cognitive Computing
UCS 420 Cognitive Computing

Assignment 4

EX-4.1WAP to print the table of 8, 10

In [ ]:

for i in range(1,11):
  print(f"8 x {i}={8*i}")

8 x 1=8
8 x 2=16
8 x 3=24
8 x 4=32
8 x 5=40
8 x 6=48
8 x 7=56
8 x 8=64
8 x 9=72
8 x 10=80

In [ ]:
for i in range(1,11):
  print(f"10 x {i}={10*i}")

10 x 1=10
10 x 2=20
10 x 3=30
10 x 4=40
10 x 5=50
10 x 6=60
10 x 7=70
10 x 8=80
10 x 9=90
10 x 10=100

EX-4.2 WAP to print the table of n and n is given by user.

In [ ]:
n=int(input("Enter n:"))
for i in range(1,11):
  print(f"{n} x {i}={n*i}")

Enter n:34
34 x 1=34
34 x 2=68
34 x 3=102
34 x 4=136
34 x 5=170
34 x 6=204
34 x 7=238
34 x 8=272
34 x 9=306
34 x 10=340

EX-4.3 WAP to add all the numbers from 1 to n and n is given by user

In [ ]:
n=int(input("Enter n:"))
sum=0
for i in range(1,n+1):
  sum+=i
print(sum)

Enter n:5
15

Assingment 5.1: WAP to find max amoung three numbers and input from user.

 [Try max() function]

In [ ]:
num1=int(input("Enter first number:"))
num2=int(input("Enter second number:"))
num3=int(input("Enter third number:"))
'''
if(num1>num2 and num1>num3):
  print("Maximum is number 1")
elif(num2>num1 and num2>num3):
  print("Maximum is number 2")
else:
  print("Maximum is number 3")
'''
ans=max(num1,num2,num3)
print("Maxmium number is",ans)

Enter first number:30
Enter second number:45
Enter third number:50
Maxmium number is 50

EX-5.2
WAP to add all numbers divisible by 7 and 9 from 1 to n and n is given by the user.

In [27]:

n=int(input("enter the no "))
sum=0
for i in range(1,n+1):
  if(i% 7==0 and i%9==0):
    sum=sum+i
print("the sum is : ",sum)

enter the no 100
the sum is :  63

EX-5.3 : WAP to add all prime numbers from 1 to n and n is given by the user

In [ ]:

n = int(input("Enter n: "))

def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

sum_primes = 0
for i in range(2, n + 1):
    if is_prime(i):
        sum_primes += i

print(sum_primes)

Enter n: 54
381

ASSIGNMENT 6

EX-6.1 WAP using function that add all odd numbers from 1 to n, n is given by the user.

In [ ]:
n = int(input("Enter n: "))
def add_odd(sum,n):
  for i in range(1,n+1):
    if(i%2!=0):
      sum+=i
  return sum
sum=0
ans=add_odd(sum,n)
print(f"Sum of all odd numbers from 1 to {n} is {ans}")

Enter n: 10
Sum of all odd numbers from 1 to 10 is 25

EX-6.2 WAP using function that add all prime numbers from 1 to n, n given by the user.

In [ ]:
n = int(input("Enter n: "))

def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

def add_prime(sum,i):
  sum+=i
  return sum

sum=0
for i in range(2,n+1):
  if(is_prime(i)):
    sum=add_prime(sum,i)

print(sum)

Enter n: 10
17